@using System.Security.Claims
@using Microsoft.AspNet.Mvc.Localization
@inject IViewLocalizer Loc
@model AdminSettingsViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsSignedIn()) {
<div id="output">
    
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title"> @Loc["StartMessage"] <br /></div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <p>@Html.Raw(Model.startMessage)</p>
                </div>
            </div>
        </div>
    </div>
</div>
}
