@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
            <li>
                <a href="@Url.Action("AdminPanel", "Admin")">Panel</a>
            </li>
            <li>
                <div>
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images/pl.ico" height="30" />
                    </a>
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images/en.ico" height="30" />
                    </a>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
